# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Carthage
Carthage/Build/

# CocoaPods (if ever used)
Pods/